<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>HttpDemoViewController</string>
		<key>title</key>
		<string>http</string>
	</dict>
	<dict>
		<key>className</key>
		<string>DeviceInfoViewController</string>
		<key>title</key>
		<string>deviceInfo</string>
	</dict>
	<dict>
		<key>className</key>
		<string>FileViewController</string>
		<key>title</key>
		<string>file</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SpringDemoViewController</string>
		<key>title</key>
		<string>spring</string>
	</dict>
	<dict>
		<key>className</key>
		<string>PromiseViewController</string>
		<key>title</key>
		<string>promise</string>
	</dict>
	<dict>
		<key>className</key>
		<string>WaterFallViewController</string>
		<key>title</key>
		<string>fallLayout</string>
	</dict>
	<dict>
		<key>className</key>
		<string>AdsCycyleViewController</string>
		<key>title</key>
		<string>adsCycleView</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TestTempViewController</string>
		<key>title</key>
		<string>Test</string>
	</dict>
	<dict>
		<key>className</key>
		<string>FileDownloadViewController</string>
		<key>title</key>
		<string>FileDownload</string>
	</dict>
	<dict>
		<key>className</key>
		<string>PhotoPickDemoViewController</string>
		<key>title</key>
		<string>photoPick</string>
	</dict>
	<dict>
		<key>className</key>
		<string>PictureBrowseDemoViewController</string>
		<key>title</key>
		<string>pictureBrowse</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TextInputDemoViewController</string>
		<key>title</key>
		<string>textInput</string>
	</dict>
	<dict>
		<key>className</key>
		<string>DispatchDemoViewController</string>
		<key>title</key>
		<string>dispatch</string>
	</dict>
	<dict>
		<key>className</key>
		<string>AppInfoDemoViewController</string>
		<key>title</key>
		<string>appInfo</string>
	</dict>
	<dict>
		<key>className</key>
		<string>LoginServiceDemoViewController</string>
		<key>title</key>
		<string>loginService</string>
	</dict>
</array>
</plist>
