<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>HttpDemoViewController</string>
		<key>title</key>
		<string>http</string>
	</dict>
	<dict>
		<key>className</key>
		<string>DeviceInfoViewController</string>
		<key>title</key>
		<string>deviceInfo</string>
	</dict>
	<dict>
		<key>className</key>
		<string>FileViewController</string>
		<key>title</key>
		<string>File</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TestTempViewController</string>
		<key>title</key>
		<string>Test</string>
	</dict>
</array>
</plist>
